<div class="col-md-8 mx-auto">
<%= form_with(model: eknek) do |form| %>
  <% if eknek.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(eknek.errors.count, "error") %> prohibited this eknek from being saved:</h2>

      <ul>
        <% eknek.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-outline mb-4">
    <%= form.text_field :title, class: "form-control" %>
    <label class="form-label" for="Name">Title</label>
  </div>

  <div>
    <%= form.text_area :description, class: "form-control" %>
    <label class="form-label" for="description">Description</label>
  </div>

  <div>

    <%= form.file_field :file, class:"form-control-file mb-3 mt-3" %>
  </div>

  <div>
    <%= form.submit "Create File", class: "btn btn-primary"%>
  </div>
<% end %>
</div>

