<p style="color: green"><%= notice %></p>
<%= link_to "New eknek", new_eknek_path %>
<table class="table table-hover table-bordered table-sm">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Action </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @ekneks.each do |eknek| %>
      <tr>
        <td><%= eknek.title %></td>
        <td><%= eknek.description %></td>
        <td><%= eknek.description %></td>
        <td><%= eknek.description %></td>
        <td><class="btn btn-secondary">copy link</td>
        <td><%= link_to "Show", eknek %></td>
        <td><%= link_to "Edit", edit_eknek_path(eknek) %></td>
        <td><%= link_to "Destroy", eknek, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>