<div class="col-md-10 mx-auto">
<p style="color: green"><%= notice %></p>
<%= link_to "Create New File", new_eknek_path, :class => "btn btn-primary mb-3" %>
<table class="table table-hover table-bordered table-sm">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>URL</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
  <% @ekneks.each do |eknek| %>
      <tr>
        <td><%= eknek.title %></td>
        <td><%= eknek.description %></td>
        <td><%= link_to "Copy", eknek, :class => "btn btn-primary" %></td>
        <td><%= link_to "View", eknek, :class => "btn btn-primary" %></td>
        <td><%= link_to "Edit", edit_eknek_path(eknek), :class => "btn btn-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>