<div class="mx-auto col-md-8">
<p style="color: green"><%= notice %></p>
<%= render @eknek %>
<div>

  <%= link_to "Edit Description", edit_eknek_path(@eknek), :class => "btn btn-secondary mb-3" %> |
  <%= link_to "Back to Files", ekneks_path, :class => "btn btn-secondary"  %> |
  <%= link_to "Download file", @eknek.file, download: '', :class => "btn btn-primary" %>
  <%= button_to "Destroy this File", @eknek, method: :delete, :class => "btn btn-danger" %>
</div>
</div>

